/* calendar.css */

.calendar-container {
    max-width: 1200px;
    margin: 40px auto;

    .fc {
        .fc-bg-event {
            opacity: 0.68;
            color: white;
        }
    }

    .title-container {
        background: white;
        color: black;
        margin: 30px 0px;
    }
}


/* For mobile screens */
@media (max-width: 768px) {
    .calendar-container {
        max-width: 100%;
        /* Full width for mobile screens */
        padding: 10px;


        .fc {
            min-height: 500px;
            min-width: 200px !important;
        }

        .fc-toolbar-title {
            font-size: 1.30rem;
        }
    }
}

@media screen and (max-width: 786px) {
    .fc-toolbar-title {
        font-size: 16px;
    }
}