@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&family=Inter:wght@800&family=Lato:wght@300;700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;0,700;1,500&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
padding: 0px;

}

@media screen and (max-width: 786px) {
  .section-header {
    .section-actions {
      .filter-input {
        margin-top: 8px;
      }
    }
  }
}
code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background: i;
}
.required {
  position: relative;
}

.required label:after {
  color: #e32;
  content: ' *';
position: absolute;
top: 2px;
  font-size: 20px;

}
.progress-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.page-breadcrumbs-link{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}